# root
/ocicl/*
*.db

## source
/core/ocicl/*

## libraries
/libraries/ocicl/*
/libraries/learncl/ocicl/*
/libraries/confr/ocicl/*
/libraries/cl-rpm/ocicl/*

## rcfiles
/files/ocicl/*

## tests
/tests/ocicl/*